
@mixin flex-gap($max: 50, $steps: 5) {
  $max: $max / $steps;
  @for $i from 1 through $max {
    $val: $i * $steps;
    .gap-#{$val} {
      gap: #{$val}px;
    }
  }

  .gap {
    gap: $steps * 2;
  }
}
